body{
    background-color: #f7f7f7;
}

#modal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#modal img{
    width: 30%;
    height: 200px;
    margin: 10px 0;
    cursor: pointer;
}
